.psd-box ul{
    padding:10px;
}
label{
    width: 150px;
}
input{
    height:40px;
    width: 300px;
    border-radius: 2px;
    outline: none;
    background-color: #fff;
    border:1px solid #ccc;
    padding-left: 15px;
}