.main-content>div{
    float: left;
}
.main-content{
    height: 100%;
    width: 100%;
    padding-top:60px;
}
.left-menus{
    height:100%;
    width: 200px;
    float: left;
}
.left-menus nav{
    border-right: 3px solid #1AA094;
    background-color:  #393D49;
    height: 100%;
    position: fixed;
    left: 0;
}
.hide{
    display:none;
}
.menu-lg{
    width: 200px;
}
ul>li{
    color:#fff;
}
ul{
    padding:10px;
}
ul.hide{
    display: none;
}