<div class="w">
  <p class="welc">您好admin,欢迎登录，现在时间是：{{dateTime |  date:'yyyy-MM-dd HH:mm:ss'}}</p>
  <div class="clearfix">
    <div class="sections">
      <section class="clearfix">
        <div class="pull-left artc1">

        </div>
        <div class="pull-right">
          <h4>10</h4>
          <p>待审的文章</p>
        </div>
      </section>
    </div>
    <div class="sections">
      <section>
        <div class="artc2 pull-left"></div>
        <div class="pull-right">
          <h4>30</h4>
          <p>我发布的文章</p>
        </div>
      </section>
    </div>
    <div class="sections">
      <section>
        <div class="sate pull-left"></div>
        <div class="pull-right">
          <h4>40</h4>
          <p>网站栏目管理</p>
        </div>
      </section>
    </div>
    <div class="sections">
      <section>
        <div class="vip1 pull-left"></div>
        <div class="pull-right">
          <h4>100</h4>
          <p>会员注册列表</p>
        </div>
      </section>
    </div>
    <div class="sections">
      <section>
        <div class="vip2 pull-left"></div>
        <div class="pull-right">
          <h4>1000</h4>
          <p>会员留言管理</p>
        </div>
      </section>
    </div>
    <div class="sections">
      <section>
        <div class="link pull-left"></div>
        <div class="pull-right">
          <h4>20</h4>
          <p>友情链接管理</p>
        </div>
      </section>
    </div>
  </div>
  <div class="tables clearfix">
     <div class="sys-overview">
       <h4>系统概览</h4>
       <table>
         <tr>
           <td>系统名称</td>
           <td>后台管理系统</td>
         </tr>
         <tr>
           <td>版本信息</td>
           <td>-</td>
         </tr>
         <tr>
           <td>开发作者</td>
           <td>-</td>
         </tr>
         <tr>
           <td>网站地址</td>
           <td>-</td>
         </tr>
         <tr>
           <td>系统下载</td>
           <td>-</td>
         </tr>
         <tr>
           <td>网站域名</td>
           <td>-</td>
         </tr>
         <tr>
           <td>当前登录用户</td>
           <td>-</td>
         </tr>
       </table>
     </div>
     <div>
       <h4>系统公告</h4>
       <div>
         <content-banner [ads]="ads"></content-banner>
       </div>
     </div>
     <div>
       <h4>测试</h4>
     </div>
  </div>
</div>