.w{
    padding:0 10px;
}
.welc{
    background-color: #ffcece;
    padding:15px 5px;
    margin:15px 0;
    color:#a94442;
    border-left:5px solid #1AA094;
}
.sections{
    width: 32.33%;
    margin:0 .5%;
    height:84px;
    margin-bottom: 10px;
    float: left;
    border-radius: 5px;
    box-shadow:0 0 10px 1px #ccc;
}
.sections section>div{
    float: left;
}
.pull-left{
    width: 40%;
    height: 84px; 
    background-size: 100%;
}
.artc1{
    background: url('/assets/img/artc1.jpg') no-repeat;
}
.artc2{
    background: url('/assets/img/artc2.jpg') no-repeat;
}
.sate{
    background: url('/assets/img/sate.jpg') no-repeat;
}
.vip1{
    background: url('/assets/img/vip1.jpg') no-repeat;
}
.vip2{
    background: url('/assets/img/vip2.jpg') no-repeat;
}
.link{
    background: url('/assets/img/link.jpg') no-repeat;
}
.pull-right h4,.pull-right p{
    color:#555;
    text-align: center;
    margin:0;
}
.pull-right{
    width: 60%;
    height:100%;
}
.pull-right h4{
    padding:10px 0;
}

.tables>div{
    float: left;
    width:49%;
    margin:.5%;
    box-shadow: 0 0 10px 1px #ccc;
}
.tables>div h4{
    padding:15px 10px;
    font-weight: normal;
    margin:0;
    border-bottom: 1px solid #ccc;
    color:#555;
}
.sys-overview table{
    margin:2%;
    border-collapse: collapse;
    width:96%;
    
}
.sys-overview table td{
    color:#555;
    border:1px solid #ccc;
    padding:10px 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}