<div class="main-content clearfix">
  <div class="left-menus">
    <nav class="menu">
      <ul>
        <li>
          <span (click)="menuClick($event)">菜单一</span>
          <ul class="hide menus">
            <li><a routerLink="./content" >子菜单一</a></li>
            <li>子菜单二</li>
            <li>子菜单三</li>
            <li>子菜单四</li>
          </ul>
        </li>
        <li>
          <span (click)="menuClick($event)">菜单二</span>
          <ul class="hide menus">
            <li>子菜单一</li>
            <li>子菜单二</li>
            <li>子菜单三</li>
            <li>子菜单四</li>
          </ul>
        </li>
        <li>
          <span (click)="menuClick($event)">菜单三</span>
          <ul class="hide menus">
              <li>子菜单一</li>
              <li>子菜单二</li>
              <li>子菜单三</li>
              <li>子菜单四</li>
            </ul>
        </li>
        <li>
          <span (click)="menuClick($event)">菜单四</span>
          <ul class="hide menus">
              <li>子菜单一</li>
              <li>子菜单二</li>
              <li>子菜单三</li>
              <li>子菜单四</li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="rigth-business">
    <router-outlet></router-outlet>
  </div>
</div>
