<nav class="menu">
    <ul>
      <li>
        <span (click)="menuClick($event)">菜单一</span>
        <ul class="hide menus">
          <li>子菜单一</li>
          <li>子菜单二</li>
          <li>子菜单三</li>
          <li>子菜单四</li>
        </ul>
      </li>
      <li>
        <span (click)="menuClick($event)">菜单二</span>
        <ul class="hide menus">
          <li>子菜单一</li>
          <li>子菜单二</li>
          <li>子菜单三</li>
          <li>子菜单四</li>
        </ul>
      </li>
      <li>
        <span (click)="menuClick($event)">菜单三</span>
        <ul class="hide menus">
            <li>子菜单一</li>
            <li>子菜单二</li>
            <li>子菜单三</li>
            <li>子菜单四</li>
          </ul>
      </li>
      <li>
        <span (click)="menuClick($event)">菜单四</span>
        <ul class="hide menus">
            <li>子菜单一</li>
            <li>子菜单二</li>
            <li>子菜单三</li>
            <li>子菜单四</li>
          </ul>
      </li>
    </ul>
  </nav>