<div class="main">
  <div class="header clearfix">
    <div class="title">
      <a></a>
      <h5>YuFeilz后台管理系统</h5>
    </div>
    <div class="nav">
      <nav>
        <ul class="clearfix">
          <li class="menus-sm clearfix" (click)="slideToggle()">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li *ngFor="let nav of headerNav">
            <a [id]="nav.id" (click)="toggleMenus(nav)" [ngClass]="{'active':nav.isActive}">{{nav.name}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="user-info" (mouseover)="onMouseover()" (mouseout)="onMouseout()">
      <img src="assets/img/user.jpg" alt="" >
      <ul [@mains]="state">
        <li (click)="user()">个人信息</li>
        <li (click)="password()">修改密码</li>
      </ul>
    </div>
    <div class="logout">
      <button (click)="logout()">退出登录</button>
    </div>
  </div>
  <div class="main-content clearfix">
    <div class="left-menus" [hidden]="slideShow">
      <nav>
        <ul class="menu-lg">
          <li *ngFor="let menu of menus">
            <a class="a-upper" *ngIf="menu.children!=0" (click)="menusShow(menu)"><span class="fa" [ngClass]="menu.icon"></span>{{menu.title}}</a>
            <a class="a-upper" *ngIf="menu.children==0" [routerLink]="menu.url" routerLinkActive="active"><span class="fa" [ngClass]="menu.icon"></span>{{menu.title}}</a>
            <ul *ngIf="menu.children!=0" class="menus" [hidden]="menu.isShow">
              <li *ngFor="let child of menu.children"><a [routerLink]="child.url" routerLinkActive="active">{{child.name}}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="rigth-business">
      <ul class="clearfix">
        <li>首页</li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>