.main{
    height: 100%;
    width: 100%;
}
/* 头部导航 */
.header{
    height: 60px;
    width: 100%;
    background-color:  rgb(95, 175, 170);
    border-bottom:5px solid #1AA094;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header>div{
    float: left;
}

.title{
    color:#fff;
    min-width: 200px;
    padding-left: 60px;
    position: relative;
}
.title h5{
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.title a{
    width: 40px;
    height: 40px;
    position: absolute;
    margin:auto;
    left: 10px;
    top: 10px;
    background: url('/assets/img/logo.png') no-repeat;
    background-size: 100%;
    border-radius: 509%;
}
.nav ul>li{
    float: left;
}
.menus-sm{
    width: 36px;
    height:36px;
    padding:5px 8px;
    margin:10px 20px;;
    background-color: #1AA094;
    
}
.menus-sm:hover{
    background-color:#484c5a;
}
.menus-sm span{
    float: left;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-top:5px;
}
.nav ul>li a{
    height: 60px;
    line-height: 60px;
    color:#fff;
    text-decoration: none;
    float: left;
    padding:0 20px;
}
.nav ul>li a.active,.menus-sm.active,.nav ul>li a:hover{
    background-color: #1AA094;
    border-bottom:5px solid #484c5a;
}

.logout{
    position: absolute;
    right: 0;
    top:12px;
}
.logout button{
    padding:5px;
    border:none;
    background-color: rgb(245, 12, 12);
    color:#fff;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.user-info{
    position: absolute;
    top:12px;
    width:100px;
    right:90px;
    text-align: center;
}
.user-info img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.user-info ul{
    position: absolute;
    width: 100px;
}
.user-info ul>li{
    padding:10px;
    text-align: center;
    color:#000;
    font-size: 14px;
    border:1px solid #ccc;
    background-color: #fff;
}
.hide{
    display: none;
}
/* 左侧菜单 */
.clearfix:after{
    content:'';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom:1;
}
.main-content{
    height: 100%;
    width: 100%;
    padding-top:60px;
    overflow: auto;
}
.left-menus{
    height:100%;
    width: 200px;
    float: left;
}
.left-menus nav{
    border-right: 3px solid #1AA094;
    background-color:  rgb(95, 175, 170);
    height: 100%;
    position: fixed;
    left: 0;
}
.hide{
    display:none;
}
.menu-lg{
    width: 200px;
}
.menu-lg li>.a-upper{
    display: inline-block;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.a-upper:hover{
    border-left:5px solid #484c5a;
}
.menu-lg li>.a-upper.active{
    background-color: #484c5a;
}
.menu-lg li>.a-upper.active1{
    background-color: #1AA094;
    border-left:5px solid #484c5a;
}
a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color:#fff;
    padding:8px 0 8px 20px;
}
span.fa{
    margin-right:10px;
}
.menu-lg .menus li>a:hover{
    border-left:5px solid #484c5a;
    background-color: #1AA094;
}
.menu-lg .menus li>a.active{
    border-left:5px solid #484c5a;
    background-color: #1AA094;
}
/* 右侧导航菜单 */
.rigth-business{
    overflow: auto;
    margin-left: 0;
}
.current-item{
    width:100%;
    margin: 10px 0;
    padding:0;
    border-bottom: 1px solid #555;
}
.current-item>li{
    color:#000;
    float: left;
    padding:6px;
    border:1px solid #ccc;
    margin:0 5px;
    position: relative;
}
.current-item>li span{
    margin-left: 10px;
}
.current-item>li:hover{
    background-color: #ccc;
}
/* ul,li的公共样式 */
ul>li{
    color:#fff;
   
}
ul.hide{
    display: none;
}