<div class="main">
  <div class="header clearfix">
    <div class="title">
      <h2>后台管理系统</h2>
    </div>
    <div class="nav">
      <nav>
        <ul class="clearfix">
          <li class="menus-sm clearfix" (click)="toggleIsShow()">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>
            <a routerLink="./menu1" routerLinkActive="active">系统管理</a>
          </li>
          <li><a routerLink="./menu2" routerLinkActive="active">内容管理</a></li>
          <li>
            <a routerLink="./menu3" routerLinkActive="active">扩展模块</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>