<div class="main">
  <div class="header clearfix">
    <div class="title">
      <h2>YuFeilz后台管理系统</h2>
    </div>
    <div class="nav">
      <nav>
        <ul class="clearfix">
          <li class="menus-sm clearfix" (click)="toggleIsShow()">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>
            <a routerLink="./menu1" routerLinkActive="active">系统管理</a>
          </li>
          <li><a routerLink="./menu2" routerLinkActive="active">内容管理</a></li>
          <li>
            <a routerLink="./menu3" routerLinkActive="active">扩展模块</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="user-info" (mouseover)="onMouseover()" (mouseout)="onMouseout()">
      <img src="assets/img/user.jpg" alt="" >
      <ul [@mains]="state">
        <li (click)="user()">个人信息</li>
        <li (click)="password()">修改密码</li>
      </ul>
    </div>
    <div class="logout">
      <button (click)="logout()">退出登录</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>