.main{
    height: 100%;
    width: 100%;
}
.header{
    height: 60px;
    width: 100%;
    background-color: #23262E;
    border-bottom: 5px solid #1AA094;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header>div{
    float: left;
}

.title{
    color:#fff;
    min-width: 200px;
}
.title h2{
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.nav ul>li{
    float: left;
}
.menus-sm{
    width: 55px;
    height:60px;
    line-height: 60px;
    padding:15px;
}
.menus-sm span{
    float: left;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin-top:6px;
}
.nav ul>li a{
    height: 60px;
    line-height: 60px;
    color:#fff;
    text-decoration: none;
    float: left;
    padding:0 20px;
}
.nav ul>li a.active,.menus-sm.active{
    background-color: #000;
}
.nav ul>li a:hover,.menus-sm:hover{
    border-bottom:5px solid #393D49;
}
.logout{
    position: absolute;
    right: 0;
    top:12px;
}
.logout button{
    padding:10px;
    border:none;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
}
.user-info{
    position: absolute;
    top:12px;
    width:100px;
    right:100px;
    text-align: center;
}
.user-info img{
    height: 36px;
    width: 30px;
    border-radius: 50%;
}
.user-info ul{
    position: absolute;
    width: 100px;
}
.user-info ul>li{
    padding:10px;
    text-align: center;
    border:1px solid #ccc;
    background-color: #fff;
}