
.userinfo ul{
    width: 100%;
    padding:10px;
}
.userinfo ul li{
    width:100%;
}
.userinfo ul li.sex-li{
    height: 60px;
    line-height: 60px;
}
.userinfo ul label{
    width: 10%;
}
.userinfo ul label.sex{
    width: auto;
    margin-right: 15px;
}
input#girl,input#boy{
    width: 15px;
    height:15px;
    background-color: #fff;
    vertical-align: middle;
}
.userinfo ul input{
    width: 88%;
    background-color: #fff;
    padding-left:15px;
    border:1px solid #ccc;
    height:40px;
    border-radius: 5px;
}
.userinfo ul textarea{
    width: 88%;
    vertical-align: top;
    height:120px;
}