<div class="content-w userinfo-w">
    <div class="con userinfo">
        <h5>个人信息</h5>
        <ul>
            <li>
                <label>用户名：</label>
                <input type="text" disabled value="admin">
            </li>
            <li>
                <label>密码：</label>
                <input type="text" disabled value="123456">
            </li>
            <li class="sex-li">
                <label>性别：</label>
                <label class="sex" for="girl">女 </label><input name="sex-box" id="girl" type="radio" checked>
                <label class="sex" for="boy">男 </label><input name="sex-box" id="boy" type="radio">
            </li>
            <li>
                <label>艺名：</label>
                <input type="text" value="于飞">
            </li>
            <li>
                <label>邮箱地址：</label>
                <input type="text" value="123456@yufei.com">
            </li>
            <li>
                <label>联系方式：</label>
                <input type="text" value="5201314149">
            </li>
            <li>
                <label>备注信息：</label>
                <textarea>爱做梦</textarea>
            </li>
        </ul>
    </div>
</div>