<div class="w">
    <div class="login">
        <h4 class="title">后台管理系统</h4>
        <!-- <form> -->
            <p>
                <input type="username" value="admin" >
                <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert alert-danger">

                    <div *ngIf="name.errors.required">
                        用户名必填
                    </div>
                    <div *ngIf="name.errors.minlength">
                        用户名不得少于6位字符
                    </div>

                </div> -->
            </p>
            <p>
                <input #psd type="password" value="123456">
            </p>
            <!-- 通过$evnet对象获取用户输入，将事件的整个载荷传递给组件的事件处理器 -->
            <input type="submit" (click)="login()" (keyup.enter)="login()" [value]="message">
        <!-- </form> -->
    </div>
</div>
