<div class="main">
  <div class="header clearfix">
    <div class="title">
      <h2>后台管理系统</h2>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li class="active">
            <a routerLink="/menu1">模块一</a>
          </li>
          <li><a routerLink="/menu2">模块二</a></li>
          <li>模块三</li>
          <li>模块四</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="main-content clearfix">
    <div class="left-menus">
      <router-outlet></router-outlet>
    </div>
    <div class="rigth-business">hahhaha</div>
  </div>
</div>