<div class="main-content clearfix">
  <div class="left-menus">
    <nav>
      <ul class="menu-lg">
        <li *ngFor="let menu of menus">
          <a class="a-upper" *ngIf="menu.children!=0" (click)="menu.menuClick($event)"><span class="fa fa-align-left"></span>{{menu.title}}</a>
          <a class="a-upper" *ngIf="menu.children==0" [routerLink]="menu.url" routerLinkActive="active" (click)="menu.menuClick($event)"><span class="fa fa-align-left"></span>{{menu.title}}</a>
          <ul *ngIf="menu.children!=0" class="menus" [@listState]="menu.state">
            <li *ngFor="let child of menu.children"><a [routerLink]="child.url" routerLinkActive="active">{{child.name}}</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="rigth-business">
    <ul class="clearfix">
      <li>首页</li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>