<div class="content content-w">
  <div class="con">
    <div class="forms">
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
      <div class="form-grounp">
        <label for="">name:</label>
        <input type="text">
      </div>
    </div>
    <div class="tables">
      <table>
        <thead>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of arr">
            <td>{{n.one}}</td>
            <td>{{n.two}}</td>
            <td>{{n.there}}</td>
            <td>{{n.four}}</td>
            <td>{{n.five}}</td>
            <td>{{n.six}}</td>
            <td>{{n.seven}}</td>
            <td>{{n.eight}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
