/* 引入第三方样式 */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html,body{
    height: 100%;
    width: 100%;
    font-size:14px;
}
html,body,div,h2,nav,ul,li,a,label,input{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul,li{
    list-style:none;
}
.clearfix::after{
    content:'';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
}
.clearfix{
    zoom: 1;
}
.content-banner{
    background-color: lightblue;
}
.content-banner h3{
    padding:15px;
    text-align: center;
    color:#fff;
    font-weight: normal;
    margin:0
}
.content-banner div{
    padding:10px;
    text-align: center;
}
.content-w{
    padding:10px;
    width:100%;
}
.con{
    box-shadow: 0 0 10px 1px #ccc;
    width:100%;
}
.con ul li{
    margin:10px;
}
.con ul li label{
    text-align: right;
}
.con h5{
    height:50px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    line-height: 50px;
    color:#555;
    padding-left: 15px;
}
    /* You can add global styles to this file, and also import other style files */
