html,body{
    height: 100%;
    width: 100%;
}
html,body,div,h2,nav,ul,li,a{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul,li{
    list-style:none;
}
.clearfix::after{
    content:'';
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
}
.clearfix{
    zoom: 1;
}
.content-banner{
    background-color: lightblue;
}
.content-banner h3{
    padding:15px;
    text-align: center;
    color:#fff;
    font-weight: normal;
    margin:0
}
.content-banner div{
    padding:10px;
    text-align: center;
}
    /* You can add global styles to this file, and also import other style files */
